<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

       <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Empresas e Notas Fiscais</h1>
            <p class="lead">Antes de tudo, faça o upload dos arquivos de empresas e notas fiscais</p>
              <a href="/populasql" class="btn btn-warning">Popular Tabelas</a>
              <a href="/empresas" class="btn btn-primary">Empresas</a>
              <a href="/notafiscal" class="btn btn-primary">Notas Fiscais</a>
          </div>
        </div>

    </body>

</html>


